hr{
  margin: 0;
}

.rodape{
  background-color: var(--rodape);
  padding: 1.6em;
}

.rodape_titulo{
  color: var(--descricao-livro);
}

.lista-rodape{
  display: none;
}

/* -----------------------------------Tablet--------------------------- */

@media screen and (min-width: 1024px) {
  .rodape{
    display: flex;
    justify-content: space-between;
    padding: 4em 2em;
  }

  .lista-rodape{
    display: block;
  }

  .lista-rodape__item{
    display: flex;
    align-items: center;
  }

  .rodape__titulo{
    font-size: 24px;
  }

  .lista-rodape__titulo{
    font-size: 14px;
    color: var(--cinza);
    text-transform: uppercase;
  }

  .lista-rodape__item{
    margin-top: 1em;
  }

  .lista-rodape__link{
    font-size: 14px;
    color: var(--titulo-rodape);
    text-decoration: none;
    margin-left: 0.5em;
  }

  .lista-rodape__link:hover {
    color: var(--laranja);
    }
}

/* -----------------------------------Desktop--------------------------- */

@media screen and (min-width: 1728px) {
  .lista-rodape{
    border-left: 1px solid var(--cinza);
    padding-left: 1em;
  }

  .rodape{
    padding: 3em 10vw;
  }


}